@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
html {
  scroll-behavior: smooth;
}

body{
  background-color: #fff3dc;
}

.Mask-group1 {
  width: 23.4%;
  height: auto;
  margin-right: auto;
}

.Mask-group1-two {
  display: none;
}

@media (max-width: 834px) {
  .Mask-group1{
    display: none;
  }
}

@media (max-width: 834px) {
  .Mask-group1-two{
    display: block;
  }
}

.coconut-leaves-one {
  display: none;
}

.coconut-leaves-two {
  position: relative;
  top: -4vw;
}

@media (max-width: 834px) {
  .coconut-leaves-one {
    display: block;
  }
  .coconut-leaves-two {
    display: none;
  }
}

.Mask-group {
  width: 7.141vw;
  height:20%;
  margin-left: 14.7%;
}

@media (max-width: 834px) {
  .Mask-group{
    width: 13.809vw;
  }
}

@media (max-width: 580px) {
  .Mask-group{
    display: none;
  }
}

.coconut-leaves-1 {
  width: 37.761%;
  height: auto;
  margin-left: auto;
}

@media (max-width: 834px) {
  .coconut-leaves-1{
    width: 44.894vw;
  }
}

@media (max-width: 580px) {
  .coconut-leaves-1{
    width: 43.103vw;
  }
}

.position-one {
  margin-left: 13.088%;
  top: 10px;
  position: relative;
}

.position {
  margin-left: 13.088%;
  padding-top: 2.500vw;
  bottom: 41.635vw;
  position: relative;
}

@media screen and (max-width: 580px) {
  .position {
    margin-left: 17.241vw;
    bottom: -6.635vw;
  }
}

.group20{
  width: 36%;
}

@media screen and (max-width: 834px) {
  .group20{
    width: 36.7%;
  }
}

@media screen and (max-width: 580px) {
  .group20{
    width: 65.890vw;
  }
}

.design-cococrest-one {
  width: 7.656vw;
}
.design-cococrest-two {
  width: 7.656vw;
}

.new-width {
  width: 7.839vw;
  height: 15.677vw;
}

@media screen and (max-width: 834px) {
  .new-width {
    width: 8.989vw;
    height: 17.977vw;
    position: relative;
    bottom: -6.715vw;
  }
}

.top-none {
  display: none;
}

.tab-top-none {
  display: none;
}
@media screen and (max-width: 834px) {
  .tab-top-none {
    display: block;
  }
  .top-two {
    display: none;
  }
  .tab-design-cococrest-two{
    width: 4.077vw;
  }
  .tab-design-cococrest-one{
    width: 5.036vw;
  }
}

@media screen and (max-width: 580px) {
  .top-none {
  display: block;
  }
  .top-two {
    display: none;
  }
  .tab-top-none {
    display: none;
  }
}

.font-family {
  font-family: 'DM Sans';
  font-weight: 700;
  letter-spacing: -0.116vw;
  color: #423E35;
  font-size: 2.902vw;
  margin-top: 0.677vw;
}

@media screen and (max-width: 834px) {
  .font-family{
    font-size: 3.906vw;
  }
}

@media screen and (max-width: 580px) {
  .font-family{
    font-size: 6.655vw;
    font-weight: 700;
    text-align: center;
    margin-left: -18.34vw;
  }
}

.button {
  display: inline-block;
  width: 12.16%;
  font-family: 'DM Sans';
  text-align: center;
  line-height: 3.0395vw;
  font-size: 1.361vw;
  font-weight: bold;
  margin: 0.573vw;
  border-radius: 1.563vw;
  transition: background-color 0.5s, color 0.5s
}

.button:hover{
  background-color: #8D3232;
  border-color: transparent;
  color: #fff;
}

@media screen and (max-width: 834px) {
  .button {
    border-radius: 3.321vw;
    margin-right: 30vw;
  }
}

@media screen and (max-width: 580px) {
  .button {
    border-radius: 5.698vw;
  }
}

.callus-button {
  width: 12.16%;
}

@media screen and (max-width: 834px) {
  .callus-button {
    width: 37.3vw;
    line-height: 6.715vw;
    font-size: 2.398vw;
  }
}

@media screen and (max-width: 580px) {
  .callus-button {
    width: 63.226vw;
    line-height: 11.521vw;
    font-size: 4.138vw;
    margin-bottom: 4.483vw;
    margin-right: 0vw;
  }
}

.padding-button {
  padding-top: 1.354vw;
  font-family: "DM Sans";
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Styles for screens 834px or less */
@media (max-width: 834px) {
  .button-container {
    flex-direction: column;
  }
}

@media (max-width: 834px) {
  .mystyle {
    width: 17.512vw;
    line-height: 6.715vw;
    margin-right: 10px;
    font-size: 2.255vw;
  }
}

@media (max-width: 580px) {
  .mystyle {
    width: 63.226vw;
    line-height: 11.521vw;
    margin-bottom: 4.483vw;
    font-size: 4.138vw;
  }
}

.Approved {
  font-size: 1.418vw;
}

@media (max-width: 834px) {
  .Approved {
    font-size: 3.194vw;
  }
}

@media (max-width: 580px) {
  .Approved {
    font-size: 4.138vw;
  }
}

.coconut {
  width: 50vw;
  margin: 0px 34.375vw 0px;
  margin-top: 4vw;
  object-fit: cover;
  flex-grow: 1;
  flex-basis: 0%;
}

@media screen and (max-width: 834px) {
  .coconut {
    width: 43.285vw;
    margin: 0px 37.759vw 0px;
  }
}

@media screen and (max-width: 580px) {
  .coconut {
    margin: 0 0 0 -0.379vw;
    width: 66.034vw;
    position: absolute;
    margin-top: -52.759vw;
  }
}

.badges {
  width: 5vw;
  height: 5vw;
}
.mar-rt{
  margin-right: 9px;
}
@media screen and (max-width: 834px) {
  .badges {
    width: 9.378vw;
    height: 9.378vw;
  }
}

@media screen and (max-width: 580px) {
  .badges {
    width: 13.448vw;
    height: 13.448vw;
  }
}

.shadow-adjust {
  width: 27.083vw;
  height: 2.292vw;
}

@media screen and (max-width: 834px) {
  .shadow-adjust {
    display: none;
  }
}

.welcome {
  font-size: 2.178vw;
}

@media screen and (max-width: 834px) {
  .welcome {
    font-size: 3.118vw;
  }
}

@media screen and (max-width: 580px) {
  .welcome {
    font-size: 4.138vw;
  }
}

.welcome-para {
  font-size: 1.361vw;
  font-family: 'DM Sans';
  font-weight: 400;
  line-height: 1.410vw;
}

@media screen and (max-width: 834px) {
  .welcome-para {
    font-size: 2.398vw;
    line-height: 2.484vw;
  }
}

@media screen and (max-width: 580px) {
  .welcome-para {
    font-size: 3.103vw;
    line-height: 3.216vw;
    padding: 0 6.862vw 0 6.862vw;
  }
}

.text-width {
  font-size: 1.410vw;
}


@media screen and (max-width: 834px) {
  .text-width {
    font-size: 2.236vw;
  }
}

@media screen and (max-width: 580px) {
  .text-width {
    font-size: 3.216vw;
  }
}


.cn-tx-web{
  font-size: 1.361vw !important;
}


.rd-mg{
  margin: 0 5.208vw 0 5.208vw;
}

@media screen and (max-width: 580px) {
  .ct-mobi-tx {
    font-size: 3.103vw !important;
    margin-top: 3vw;
  }

  
}

@media screen and (max-width: 834px) {
 
.rd-mg{
  margin: 0 2.208vw 0 2.208vw;
} 
}


.upper{
  position: relative;
  top: -51vw;
}


@media screen and (max-width: 580px) {
  .upper{
    top: 6vw;
  }
}

.swiper-container{
  background: #EFE1C5;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  
}


.swiper-container,
.swiper-wrapper {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: flex-start;
  height: 100%
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  -webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
}

.mySwipemm{
  display: none;
}
.swiper-slide-mbi{
  width: 13.333vw !important;
  height: 13.333vw !important;
}

@media screen and (max-width: 580px) {
  .swiper-wrapper {
    left: 8vw !important;
    margin-right: 0px !important;
  }

  .mySwipemm{
    display: block;
  }

  .swiper-slide-mbi{
    width: 33.276vw !important;
    height: 33.276vw !important;
  }

  
}


.slide-img {
  width: 15% !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 8px;
  img {
    max-width: 10px;
    max-height: 655px;
  }
}



.swiper {
  width: 100%;
  height: 100%;
  background: #EFE1C5;
  padding: 20px 0 20px 0;
}

@media screen and (max-width: 580px) {
  .web-swiper {
    display: none !important;
  }

  .mobile-swiper{
    display: block !important;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  border-radius: 0.938vw;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.swiper-slide img {
  display: block;
  width: 21.458vw;
  height: 20.052vw;
  border-radius: 0.938vw;
  object-fit: cover;
}

@media screen and (max-width: 834px) {
  .swiper-slide img{
    width: 19.257vw;
  }
}

@media screen and (max-width: 580px) {
  .swiper-slide img{
    width: 75.862vw;
    height: 75.862vw;
  }
}

.slider-position {
  padding-top: 0;
  padding-bottom: 1.979vw;
}

.mobile-swiper{
  display: none !important;
  background: #EFE1C5;
  padding: 20px 0 20px 0;
}

@media screen and (max-width: 580px) {
  .mobile-swiper{
    display: block !important;
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px !important;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active {
  background: #8D3232 !important;
}
.swiper-pagination-bullet {
  background: white !important;
}

@media screen and (max-width: 580px) {
  .swiper-slide {
    background: none;
  }
}


.fresh {
  font-family:'DM Sans';
  color: #423E35;
  font-size: 2.902vw;
  font-weight: 700;
  line-height: 2.730vw;
  word-wrap: break-word;
}

@media screen and (max-width: 834px) {
  .fresh{
    font-size: 3.221vw;
    line-height: 3.028vw;
  }
}

@media screen and (max-width: 580px) {
  .fresh{
    font-size: 3.890vw;
    line-height: 3.890vw;
    position: absolute;
    left: 12vw
  }
}

.flower-left{
  width: 6.771vw;
  position: relative;
  top: -40vw;
  transform: rotate(180deg);
}

@media screen and (max-width: 834px) {
  .flower-left{
    width: 6.932vw;
    position: relative;
    top: -38.754999999999995vw;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 580px) {
  .flower-left{
    display: none;
  }
}

.flower-right {
  width: 6.771vw;
  top: 5.020999999999987vw;
  transform: rotate(180deg);
}

@media screen and (max-width: 834px) {
  .flower-right {
    width: 6.932vw;
    top: 7.245000000000001vw;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 580px) {
  .flower-right {
    display: none;
  }
}


.coconut-banner {
  width: 73.698vw;
  height: 19.427vw;
}

.Tapioca {
  width: 73.698vw;
}

.margin-one{
  margin-top: -27vw;
}


@media screen and (max-width: 580px) {
  .margin-one{
    margin: 0 !important;
  }
  .coconut-banner {
    width: 100%;
    height: 100%;
    margin-top: 9.65vw;
  }
  .Tapioca {
    width: 100%;
    height: 100%;
  }
}


.footer {
  background-color: #FFB22B;
  height: 5.964vw;
  margin-top: 1vw;
}

.footer_logo {
width: 3.798vw;
height:3.901vw;

}

.pd-footer{
  padding-right: 1.563vw;
  cursor: pointer;
}

.s-icons a{
  cursor: default;
}

.cococrest-logo-footer{
width: 15.643vw;
height: 2.145vw;
}

.mg-foot{
padding-top: 0.521vw;
height: 24px;
}

.text-wrapper {
  width: 18.229166666666668vw;
  top: 0;
  left: 0;
  font-family: "DM Sans";
  font-weight: 700;
  color: #8d3232;
  font-size: 1.5625vw;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.logo-warp {
display: none !important;
}



.tab-center2{
display: none !important;
}


.grid-containers {
display: none;
}
.ct-tx-web{
font-size: 1.361vw !important;
}
.ct-web-tx{
font-size: 1.361vw;
color: #232323;
text-align: center;
font-family: "DM Sans";
font-style: normal;
font-weight: 700;
line-height: 103.6%;
}
@media screen and (max-width: 834px) {
.tab-center2{
  display: none !important;
}

.container {
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  top: 15px;
  padding: 0 12.1vw 0 12.5vw;
}

.text-wrapper {
  width: 113px;
  top: 0;
  left: 0;
  font-family: "DM Sans";
  font-weight: 700;
  color: #8d3232;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.label {
  width: 100px;
  height: 41px;
}

.footer {
  background-color: #FFB22B;
  height: 7.914vw;
}
.cococrest-logo-footer{
  width: 17.354vw;
  height: 2.379vw;

}
.footer_logo {
  width: 3.267vw;
  height: 3.267vw;
}
}


.tab-center1{
  margin-top: 14vw;
}

@media screen and (max-width: 580px) {
.grid-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 50px 0 50px;
}
.grid-items {
  padding: 20px;
  text-align: center;
}

.tab-center1{
  display: none !important;
}

.ct-mobi-tx{
  font-size: 3.103vw !important;
}
.footer {
  background-image: url(./assets/webp_images/footer-bg.webp) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 34.828vw;
  min-height: 100%;
  max-width: 100%;
  margin-top: 2vw;
}

.details-tag{
  display: none;
}

.containers {
  top: -140px;
  padding: 0 12.5vw 0 12.23vw;
  display: grid;
  grid-template-columns: 1fr;
}
.mob-footer-col{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 50px;
}
.cococrest-logo-footer {
  width: 39.655vw;
  height: 5.690vw;
  text-align: -webkit-center;
}
.footer_logo {
  width: 8.276vw;
  height: 8.276vw;
}

.social-links  {
  display: flex;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  width: 250px;
}

.footer-lf-logo {
  width: 100px;
  height: 209px;
}
.footer-rt-logo {
  width: 60px;
  height: 120px;
}
.logo-warp {
  display: flex !important;
}
.social-links a {
  margin-right: 15px;
}

.hide-ele{
  display: none !important;
}
.ff-mobi{
  padding-top: 6.897vw !important;
}



}


.new-one {
  margin-top: -41vw;
}

@media screen and (max-width: 580px) {
  .new-one {
    margin-top: 8vw;
  }
}



.cn-btn{
  color: #ffb22b;
  text-align: center;
  width: 19.100vw;
  height: 3.480vw;
  line-height: 1.042vw;
  border-radius: 33.719vw;
  border: 1.502px solid #ffb22b;
  align-self: center;
  flex-grow: 1;
  align-items: center;
  margin: auto 0;
  font: 700 1.250vw "DM Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s
}

.cn-btn:hover {
  background-color: #FFB22B;
  border-color: transparent;
  color: #8D3232;
}



.call-btn{
background-color: #FFB22B;
color: #8D3232;
}


.contact-position {
margin-left: 13.088%;
padding-top: 0.909vw;
bottom: 1vw;
position: relative;
}


.contact-br{
background-image: url(./assets/webp_images/contact-bg.webp);
background-size: cover;
background-repeat: no-repeat;
height: 11.458vw;
max-width: 100%;

}

.btn-div1{
display: none !important;
}

.ct1{
height: 11.40625vw;
}

.btn-div{
transform: translateY(50%);
}

.gap-cn{
gap: 1.25vw !important;
margin-right: 130px;
margin-left: 130px
}

.mobi-btn{
display: none;
}

.btn-div{
transform: translateY(4.1666666666667vw) !important;
}

@media screen and (max-width: 834px) {
.contact-position {
  margin-left: 0 !important;
  padding-top: 2.5vw;
  bottom: 1vw;
  position: relative;
  margin-right: 0 !important;
}
.contact-br{
  background-image: url(./assets/webp_images/tab-bg-cn.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15.827vw !important;
  padding-top: 17px !important;
}

.gap-cn{
  gap: 0.8333333333333334vw !important;
  margin-right: 60px;
  margin-left: 60px
}

.cn-btn{
  color: #ffb22b;
  text-align: center;
  width: 26.383vw;
  height: 4.807vw;
  line-height: 1.042vw;
  border-radius: 33.719vw;
  border: 1.502px solid #ffb22b;
  align-self: center;
  flex-grow: 1;
  align-items: center;
  margin: auto 0;
  font: 700 1.918vw "DM Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.call-btn{
  background-color: #FFB22B;
  color: #8D3232;
}
}

@media screen and (max-width: 580px) {
.contact-br{
  background-image: none;
  background-color: #8d3232;
  height: 58.966vw !important;
}

.btn-div{
  transform: translateY(50%) !important;
  margin-top: -13vw !important;
}

.mt-btn{
  margin-top: 1.6666666666666667vw;
}

.cn-btn {
  border-radius: 33px;
  border: 1.502px solid #FFB22B;
  text-align: center;
  width:  63.226vw;
  height: 11.520vw;
  font-family: "DM Sans";
  font-weight: 700;
  color: #ffb22b;
  font-size: 4.138vw;
  letter-spacing: 0;
}

.web-btn{
  display: none;
}

.mobi-btn{
  display: block;
}

.call-btn{
  background-color: #FFB22B;
  color: #8D3232;
}

.btn-contain{
  position: relative;
  align-items: center;
  margin-bottom: 4.833333333333334vw;
}

}

.main-container {
background-color: #8d3232;
display: flex;
align-items: flex-start;
justify-content: space-between;
gap: 1.094vw;
}

@media screen and (max-width: 834px) {
.main-container {
  flex-wrap: wrap;
  justify-content: center;
}
}

.call-us {
color: #8d3232;
background-color: #ffb22b;
}


.position-cbr{
padding-top: 4vw;
position: relative;
}




@media screen and (max-width: 580px) {
.btn-div1{
  display: block !important;
}

.position-cbr{
  display: none;
}
}








.coconut-leaf {
  width: 23.4%;
  height: auto;
  position: absolute;
  top: -2.656vw;
  left: -0.260vw; /* Adjust this value based on your layout */
  transform-origin: top center;
  animation: sway 2s ease-in-out infinite alternate;
  z-index: 999999;
}

.coconut-leaf2 {
  width: 23.4%;
  height: auto;
  position: absolute;
  top: 7.344vw;
  left: 0.260vw; /* Adjust this value based on your layout */
  transform-origin: top center;
  animation: sway2 2s ease-in-out infinite alternate;
  z-index: 999999;
}

@keyframes sway {
  0% {
    transform: rotate(-5deg) translateY(-43px) translateX(-43px);
  }
  100% {
      transform: rotate(5deg) translateY(5px);
  }
}

@keyframes sway2 {
  0% {
    transform: rotate(47deg) translateY(105px);
  }
  100% {
      transform: rotate(31deg) translateY(5px);
  }
}

.top-section{
  margin-top: 47vw;
}


@media screen and (max-width: 834px) {
  .top-section {
    margin-top: 48vw;
  }

  .coconut-leaf {
    width: 23.4%;
    height: auto;
    position: absolute;
    top: -1.6560000000000001vw;
    left: -1.2599999999999998vw;
    transform-origin: top center;
    animation: sway 2s ease-in-out infinite alternate;
    z-index: 999999;
  }

  .coconut-leaf2 {
    width: 23.4%;
    height: auto;
    position: absolute;
    top: 7.344vw;
    left: -2.74vw;
    transform-origin: top center;
    animation: sway2 2s ease-in-out infinite alternate;
    z-index: 999999;
  }

  @keyframes sway {
    0% {
      transform: rotate(-5deg) translateY(-26px) translateX(-43px);
    }

    100% {
      transform: rotate(5deg) translateY(5px);
    }
  }

  @keyframes sway2 {
    0% {
      transform: rotate(37deg) translateY(3px) translateX(51px);
    }

    100% {
      transform: rotate(31deg) translateY(5px);
    }
  }

}
  
  
  
  
@media screen and (max-width: 580px) {
  .top-section{
    margin-top: 50vw;
  }

  .coconut-leaf {
    width: 53.4%;
    height: auto;
    position: absolute;
    top: -2.656vw;
    left: -1.260vw; /* Adjust this value based on your layout */
    transform-origin: top center;
    animation: sway 2s ease-in-out infinite alternate;
    z-index: 999999;
  }
  
  .coconut-leaf2 {
    width: 63.4%;
    height: auto;
    position: absolute;
    top: 16.344vw;
    left: -9.74vw; /* Adjust this value based on your layout */
    transform-origin: top center;
    animation: sway2 2s ease-in-out infinite alternate;
    z-index: 999999;
  }
  
  @keyframes sway {
    0% {
      transform: rotate(-5deg) translateY(-26px) translateX(-43px)
    }
    100% {
        transform: rotate(5deg) translateY(5px);
    }
  }
  
  @keyframes sway2 {
    0% {
      transform: rotate(37deg) translateY(3px) translateX(51px);
    }
    100% {
        transform: rotate(31deg) translateY(5px);
    }
  }
}

.web-aim{
  display: block !important;
}

.mob-aim{
  display: none !important;
}

.web-approved{
  display: block !important;
}

.mobi-approved{
  display: none !important;
}
@media screen and (max-width: 834px) {
  .web-approved{
    display: none !important;
  }
  
  .mobi-approved{
    display: flex !important;
    background: #EFE1C5;
    position: relative;
    top: -42vw;
  }
}
@media screen and (max-width: 580px) {
  .web-aim{
    display: none !important;
  }

  .mob-aim{
    display: block !important;
  }

  .new-width-mob{
    width: 10.345vw;
    height: 31.897vw;
    position: relative;
    /* bottom: -6.715vw; */
  }

  .web-approved{
    display: none !important;
  }
  
  .mobi-approved{
    display: flex !important;
    background: #EFE1C5;
    position: relative;
    top: 0;
  }
}


